
.load-overlay {
  width: 100vw;
  height: 100vh;
  min-height: 100svh;
  position: fixed;
  z-index: 10000;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: rgb(var(--color-background));

  p {
    font-weight: 100;
    font-size: 3vw;
    text-transform: uppercase;

    &.active {
      font-weight: 700;
    }

    &.the-serie {
      font-weight: 400;
      //transition: color .3s ease;
    }
    
    &.anim {
      animation: smash 1s forwards;
    }
  }
}


@keyframes smash {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
