
// Variables
:root {
  --color-text: 255, 255, 255;
  --color-background: 15, 15, 15;
  --color-accent-light: 247, 154, 135;
  --color-accent: 246, 121, 96;
  --color-accent-dark: 244, 92, 62;
  --color-primary-light: 222, 189, 245;
  --color-primary: 205, 143, 250;
  --color-primary-dark: 141, 70, 194;
  --color-secondary: 31, 31, 31;
  --color-secondary-light: 67, 64, 61;

  --font-heading: Switzer, Poppins sans-serif;
  --typescale-h1: 5.625rem;
  --typescale-h2: 4.1875rem;
  --typescale-h3: 3.1875rem;
  --typescale-lead: 1.3125rem;

  --padding-desktop-horizontal: 10rem;
  --padding-phone-horizontal: 1.25rem;
}
