// Load fonts
@import "./fonts/switzer.css";
@import "./fonts/archivo.css";


// Variables
:root {
  --color-text: #fff;
  --color-background: #0F0F0F;
  --color-accent-light: #F89987;
  --color-accent: #F67A60;
  --color-accent-dark: #F45C3E;
  --color-primary-light: #DEBCF5;
  --color-primary: #CE91FA;
  --color-primary-dark: #8D46C2;
  --color-secondary: #1F1F1F;

  --font-heading: Switzer, Poppins sans-serif;
}


// Main styles
body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: Archivo, Poppins, sans-serif;
}


// Imports
@import "./reset.css";
@import "./components/button";